name: AWS Automated Gaurdrails

on:
    push:
    pull_request:

jobs:
    security:
        runs-on: ubuntu-latest

        steps:
            - name: checkout repo
              uses: actions/checkout@v4

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3

            - name: Configure AWS credentials (OIDC)
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: arn:aws:iam::982081090103:role/github-actions-oidc-role
                  aws-region: ap-south-1

            - name: Terrafomr init
              run: terraform init
              working-directory: terraform

            - name: Terrafomr Plan
              run: terraform plan -out=tfplan.out
              working-directory: terraform

            - name: Convert Plan to JSON
              run: terraform show -json tfplan.out > tfplan.json

            - name: Run Checkov
              uses: bridgecrewio/checkov-action@master
              with:
                  directory: terraform

            - name: Run tfsec
              uses: aquasecurity/tfsec-action@v1.0.3
              with:
                  working_directory: terraform
